*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(251, 255, 24, 0.384);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    min-height: 20%;
    padding: 20px;
    background-color: rgba(31, 31, 231, 0.432);
}

header img{
    width: 200px;
    height: 200px;
    /* float: left; */
    /* position: absolute; */
}

header h1{
    clear: none;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    min-height: 60px;
    background-color: rgba(31, 31, 231, 0.623);
    padding: 15px;
    clear: none;
}

nav ul{
    list-style: none;
    text-align: center;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: beige;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.5em;
    display: inline-block;
}

nav ul li a:hover{
    background-color: #ffffff99;
    border-radius: 7px;
}

.principal{
    border: 4px solid black;
    background-color: rgba(31, 31, 231, 0.432);
    min-height: 60%;
    min-width: 70%;
    padding: 1%;
    margin: 1%;
    box-sizing: border-box;
    overflow: auto;
}

main section h2{
    text-decoration: underline;
    text-align: center;
}

.colunas{
    min-width: 48%;
    min-height: 80%;
    box-sizing: border-box;
    padding: 0.5%;
    display: inline-block;
    margin: 0.5%;
}

#dica{
    overflow: auto;
}

#dica div p{
    text-align: justify;
}

#diquinha{
    max-width: 48%;
    float: left;
}

#dicao{
    text-align: left;
    clear: none;
}

#doguinho{
    max-width: 48%;
}

#doguinho img{
    width: 450px; 
    height: 200px;
    float: right;
}

.preço{
    font-weight: bold;
    clear: none;
}

.promo{
    text-decoration: line-through red 3px;
    font-weight: bold;
}

#promocao div ul li img{
    width: 150px;
    height: 150px;
}

#promocao div ul li{
    list-style: none;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 30px 150px 30px 150px;
    overflow: auto;
}

#promocao div ul li:hover{
    border: 4px solid #ffffff99;
    margin: 30px 150px 30px 150px;
}

#roupas div ul li{
    list-style: none;
    border: 2px solid black;
    border-radius: 5px;
    min-width: 256px;
    min-height: 284px;
    text-align: center;
    padding: 10px;
    margin: 0px 150px 0px 150px;
    clear: none;
    overflow: auto;
}

#roupas div ul li:hover{
    border: 4px solid #ffffff99;
}

#roupas div ul li img{
    width: 150px;
    height: 150px;
}

#serviços div ul li{
    text-align: center;
    text-decoration: underline;
    list-style: none;
}

#serviços div ul li img{
    width: 200px;
    height: 200px;
}

footer{
    min-height: 90px;
    background-color: rgba(31, 31, 231, 0.623);
    clear: none;
    width: 100%;
}

footer p{
    color: rgb(43, 24, 7);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.titulo{
    text-decoration: underline;
}